<nav class="navbar navbar-expand-lg " data-bs-theme="dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">Etown ClubHub</a>
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/calendar.html">Calendar</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Clubs
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/pages/clubs.html">All Clubs</a></li>
              <li><hr class="dropdown-divider"></li>              
              <li><a class="dropdown-item" href="#">CS Club</a></li>
              <li><a class="dropdown-item" href="#">Math Club</a></li>
            </ul>
          </li>
        </ul>
        
        <form class="d-flex spacing" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <!-- Button trigger login modal -->
        <button type="button" class="btn btn-clubhub" data-bs-toggle="modal" data-bs-target="#loginModal">
          Login
        </button>

        <!-- Login Modal -->
        <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="container">
                <div class="row d-flex justify-content-center align-items-center">
                  <div class="card bg-dark text-white" ">
                    <div class="card-body p-5 text-center">
                      <div class="mb-md-5 mt-md-4 pb-5">
                        <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                        <p class="text-white-50 mb-5">Please enter your login and password!</p>
        
                        <div class="form-floating mb-4">
                          <input type="email" id="typeEmailX" class="form-control form-control-lg bg-dark text-white" placeholder="Email">
                          <label for="typeEmailX">Email</label>
                        </div>
        
                        <div class="form-floating mb-4">
                          <input type="password" id="typePasswordX" class="form-control form-control-lg bg-dark text-white" placeholder="Password">
                          <label for="typePasswordX">Password</label>
                        </div>
        
                        <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>
        
                        <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                      </div>
        
                      <div>
                        <p class="mb-0">Don't have an account? <a href="#!" class="text-white-50 fw-bold">Sign Up</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      
      </div>
      
    </div>
  </div>
</nav>
